<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Data Input</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <div class="container">
            <h1>GOL.GG player data input</h1>

            <form id="dataForm" action="/process" method="POST">
                <label for="data">Enter Player Data:</label><br>
                <textarea id="data" name="data" rows="10" cols="50"></textarea><br>
                <input type="submit" value="Submit">
            </form>

            <div id="result">
                <h3>Average Statistics:</h3>
                <p>Total Kills: {{ total_kills }}</p>
                <p>Number of Matches: {{ num_matches }}</p>
                <p>Average Kills per Match: {{ average_kills }}</p>
                <p>Average Kills in Two Maps: {{ kills_in_two_maps }}</p>
                <p>Amount of Victories: {{ num_victories }}</p>
                <p>Amount of Losses: {{ num_losses }}</p>
                <p>Average Kills per Victory: {{ average_victory_kills }}</p>
                <p>Average Kills per Loss: {{ average_loss_kills }}</p>
            </div>
        </div>
    </body>
</html>
